/target
/.idea
/dist
/coverage
/ui/node_modules
/ui/dist
/ui/coverage
/ui/*.tsbuildinfo
/ui/vite.config.js
/ui/vite.config.d.ts
perf.data*
flamegraph.svg
.devenv*
devenv.local.nix
devenv.local.yaml
.direnv
/.devcontainer/state
